<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Найдено кандидатов со скиллом {{skill}}: {{candidates|length}}</title>
</head>
<body>
    <h1>Найдено кандидатов со скиллом {{skill}}: {{candidates|length}}</h1>
    {% for candidate in candidates %}
    <p><a href="/candidate/{{candidate['id']}}">{{candidate['name']}}</a></p>
    {% endfor %}
</body>
</html>